---
layout: default
permalink: '/blog/'
title: Siddharth's Blog — On design, tech and product.
---

<h1 style="text-align: center; padding-top: 2em; margin-bottom: 2em;">notes by @clearlysid</h1>

<ul class="post-list">
	{% for post in posts %}
		{% if post.published == true %}
			<li class="post-list-item">
				<div class="post-list-item-date">{{ post.date | date: "%b %d %Y" }}</div>
				<a href="/blog/{{ post.slug }}" class="post-list-item-title">{{ post.page }}</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>