---
layout: default
permalink: '/blog/'
title: Siddharth's Blog — On design, tech and product.
---

<h1 style="text-align: center; padding-top: 2em; margin-bottom: 2em;">notes by @clearlysid</h1>

<section>
	{% for post in posts %}
		<ul>
			{% if post.published == true %}
			<li>
				<div class="post-date">
					<span>{{ post.date | date: "%b %d %Y" }}</span>
				</div>
				<div class="title">
					<a href="/blog/{{ post.slug }}">{{ post.page }}</a>
				</div>
			</li>
			{% endif %}
		</ul>
	{% endfor %}
</section>