---
layout: default
permalink: '/blog/'
title: Siddharth's Blog — On design, tech and product!
---

<div class="page-container blog" style="max-width: calc(1200px + 4rem)" data-barba="container">

	<header class="blog-header">
		<h1 class="page-title">notes by @clearlysid</h1>
		<h2 class="page-subtitle">chronicling his career in design, product and tech. Occasionally some personal stuff too.</h2>
	</header>

	<main>
		<div class="overline">All Notes</div>
	
		<ol class="post-list">
			{% for post in posts %}
				{% if env.isProduction == false or post.published == true %}
				<li class="post-list-item">
					<a href="/blog/{{ post.slug }}">
						<div class="post-list-date">{{ post.date | date: "%d/%m" }}</div>
						<div class="post-list-title">{{ post.page }}</div>
					</a>
				</li>
				{% endif %}
			{% endfor %}
		</ol>
	</main>

</div>