---
layout: default
permalink: /notes/
title: Siddharth's Notes — Products, People and Craft
---

<header class="blog-container">
	
	<div class="blog-avatar-wrapper">
		<svg width="242" height="242" viewBox="0 0 242 242" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M25.188 227.226C41.3604 230.856 56.6899 238.145 73.3032 239.426C111.212 242.349 150.547 242.444 186.878 228.626C214.971 217.941 235.728 201.636 239.655 168.427C245.194 121.589 234.184 53.0809 196.109 23.4287C170.484 3.47288 128.285 -2.09851 97.3608 2.52894C67.7847 6.95468 36.4137 31.2281 19.4999 57.4283C2.74581 83.381 -3.81028 124.207 4.76696 154.527C16.0401 194.377 44.076 218.454 77.2196 236.226" stroke="#CCCCCC" stroke-linecap="round"/>
			</svg>
		<img src="/assets/cat.webp" alt="clearly sid and clearly cat" height="220" width="220">		
	</div>

	<div class="blog-decal">
		<svg width="1145" height="234" viewBox="0 0 1145 234" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1144.18 145.755C1101.3 186.66 989.448 254.672 885.08 199.483C754.621 130.497 708.162 -29.1461 558.049 6.27246C415.094 40.0021 393.339 206.656 237.59 231.139C110.075 251.184 14.2588 109.015 1.02515 11.5541" stroke="#CCCCCC" pathLength="1"
			stroke-linecap="round"/>
		</svg>		
	</div>
	{% assign heading_arr = "Notes on product, people & craft" | split: '' %}
	<h1 id="manual">
		{%- for letter in heading_arr -%}
		<span class="char{% if letter == ' ' %} whtSpc{% endif %}">{{ letter }}</span>
		{%- endfor -%}
	</h1>
	<p>As written by <a href="https://www.twitter.com/clearlysid" target="_blank">@clearlysid</a> — showrunner of UX Engineering and Design Ops, and wearer of many hats at <a href="https://www.headout.com" target="_blank">Headout.</a></p>
</header>

<main class="blog-container">
	<ul class="blog-list">
		{% for note in collections.notes reversed %}
			{% if note.data.published == true %}
				<li class="blog-item" role="article">
					<time class="blog-item-date">{{ note.date | date: "%d %b %y" }}</time>
					<a href="{{ note.url }}" class="blog-item-title">
						{{ note.data.title }}
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</main>
