---
layout: default
permalink: /notes/
title: notes on code, design and culture.
---

<a href="/" class="back-button">← Home</a>

<header class="blg-wrapper">
	<h1> @clearlysid's notes on <span class="lora">code, design & culture.</span></h1>
</header>

<main class="blg-wrapper">
	<ul class="blg-list">
		{% for note in collections.now %}
		{% if note.data.published == true %}
		<li class="blg-item" role="article">
			<time class="blg-item-date lora">NOW</time>
			<a href="{{ note.url }}" class="blg-item-title">
				{{ note.data.title }}
			</a>
		</li>
		{% endif %}
		{% endfor %}

		{% for note in collections.notes reversed %}
		{% if note.data.published == true %}
		<li class="blg-item" role="article">
			<time class="blg-item-date lora">{{ note.date | date: "%d-%m-%y" }}</time>
			<a href="{{ note.url }}" class="blg-item-title">
				{{ note.data.title }}
			</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</main>