---
layout: default
permalink: /notes/
title: Notes on code, design and culture.
---

<a href="/" class="note-back">← Home</a>

<header class="blog-container">
	<h1> @clearlysid's notes on <span class="fancy-type">code, design & culture.</span></h1>
</header>

<main class="blog-container">
	<ul class="blog-list">
		{% for note in collections.now %}
		{% if note.data.published == true %}
		<li class="blog-item" role="article">
			<time class="blog-item-date fancy-type">NOW</time>
			<a href="{{ note.url }}" class="blog-item-title">
				{{ note.data.title }}
			</a>
		</li>
		{% endif %}
		{% endfor %}

		{% for note in collections.notes reversed %}
		{% if note.data.published == true %}
		<li class="blog-item" role="article">
			<time class="blog-item-date fancy-type">{{ note.date | date: "%d-%m-%y" }}</time>
			<a href="{{ note.url }}" class="blog-item-title">
				{{ note.data.title }}
			</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</main>