---
layout: default
permalink: '/play/'
title: Siddharth's Playground — Experiments in Design and Code
---

<div class="page-container play" style="max-width: calc(900px + 4rem)">

	<header class="play-header">
		<h1 class="page-title">Playground</h1>
		<h2 class="page-subtitle">experiments in design and code.</h2>
	</header>

	<!-- ADD BLANK CHECKS FOR EACH ITEM  -->
	<main class="play-grid">

		{% for item in play %}
			{% if item.published == true %}
				<div class="play-item">
					{% if item.video-url != BLANK %}
						<video autoplay loop muted>
							<source src="{{ item.video-url }}" type="video/mp4">
						</video>
					{% else %}
						<img src="{{ item.image-url }}" alt="{{ item.page }}" height="400" width="400">
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}
	
	</main>

	<footer class="page-footer">Copyleft ©{{ "now" | date: "%Y" }}, Built on 11ty via Notion.</footer>
</div>
