.blog {
	display: grid;
	grid-template-columns: 400px auto;
	column-gap: 100px;
}

.blog main > .overline {
	margin-bottom: 2rem;
	margin-top: 5.2rem;
}

.post-list {
	list-style: none;
	padding: 0;
}

.post-list-item {
	width: 100%;
	transition: transform 0.2s ease-out;

	& > a {
		display: grid;
		grid-template-columns: min-content auto;
		column-gap: 20px;
		border: none;
		align-items: center;
		padding: 0em 2em 0.6em 0em;
	}
}

.post-list-date {
	font-size: 14px;
	line-height: 1.8em;
	font-family: "Inconsolata", monospace;
	opacity: 0.4;
	position: relative;
}

.post-list-title {
	font-size: max(18px, min(2vw, 22px));
	letter-spacing: -0.02em;
	line-height: 1.4em;
	margin-top: 0;
	font-family: "hk_grotesk", sans-serif;
	font-weight: normal;
}

@media (min-width: 800px) {
	.post-list-item:hover {
		transform: translateX(10px);
	}
}
