<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="/assets/favicon/site.webmanifest">
	{%- include seo.html -%}

	{% if build.env == "production" %}
		{%- viteStyles "scripts/main.js" -%}
	{% endif %}
</head>

<body>
	{% comment %}
	{%- include navigation.html -%}
	{% endcomment %}

	<div id="content">
		{{- content | safe -}}
	</div>

	<footer class="footer">
		&copy;{{ "now" | date: "%Y" }} Siddharth Jha, Built on 11ty via Notion
	</footer>
    {% if build.env == "production" %}
        {%- viteScript "scripts/main.js" -%}
    {% else %}
        <script type="module" src="http://localhost:3000/@vite/client"></script>
        <script type="module" src="http://localhost:3000/scripts/main.js"></script>
    {% endif %}
</body>

</html>