<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/styles.css">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="/assets/favicon/site.webmanifest">
	{%- include seo.html -%}
</head>
<body>
	{% comment %}
	{%- include navigation.html -%}
	{% endcomment %}

	<aside class="logo">
		<a href="/blog/">
			<img src="/assets/profile.jpg" alt="" class="logo-avatar">
		</a>
		<span class="logo-prompt code">Siddharth Jha</span>
	</aside>

	<div id="content">
		{{- content | safe -}}
	</div>

	
	<footer class="footer">
		<span class="block">&copy;{{ "now" | date: "%Y" }} Siddharth Jha</span>
		<span class="block"><small>Built on 11ty via Notion</small></span>
	</footer>
</body>
</html>