<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
	<link rel="manifest" href="/assets/site.webmanifest">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">

	{% capture css %}
		{% include "styles/_base.css" %}
		{% include "styles/_home.css" %}
		{% include "styles/_type.css" %}
		{% include "styles/_prism.css" %}
		{% include "styles/_note.css" %}
		{% include "styles/_blog.css" %}
		{% include "styles/main.css" %}
	{% endcapture %}
	<style>
		{{ css | cssmin }}
	</style>

	{%- include 'seo.html' -%}
</head>

<body>

	{% include 'navigation.html' %}

	<div id="content">
		{{- content | 'safe' -}}
	</div>

	<footer class="footer">
		&copy;{{ "now" | date: "%Y" }} Siddharth Jha, Built on 11ty.
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/rough-notation/0.5.1/rough-notation.min.js" integrity="sha512-8b41eVh9uwwR/zlfwQon0Sb2CKUcrlK9XuKAWlDrHp2qNqH1RAysl//l/g47TkTDwU7wzMY0KnZ9ze3ORGy5CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/lax.js" ></script>
	<script src="/assets/scripts/main.js"></script>
    {% if global.env == "production" %}
		<script defer data-domain="siddharthjha.com" src="https://plausible.io/js/plausible.js"></script>
    {% endif %}
</body>

</html>