{% assign feature_names = "HelloMeets, Framer, King Sidharth" | split: ','%}
{% assign feature_logos = "https://res.cloudinary.com/clearlysid/image/upload/f_auto/v1647613447/hellomeets-logo_vvyfg1.png, https://res.cloudinary.com/clearlysid/image/upload/f_auto/v1647613447/framer-logo_qvhhes.png, https://res.cloudinary.com/clearlysid/image/upload/f_auto/v1647613447/kingsid-logo_t2rgxi.png" | split: ','%}
{% assign feature_links = "https://twitter.com/hellomeets/status/1429781737970683905, https://twitter.com/clearlysid/status/1454355386434158593?s=20&t=yFeIyDoOs5DnR4JAG2Licw, https://www.youtube.com/watch?v=nVT8JbqYZs8" | split: ','%}

<ul class="hm-features-list">

  {% for name in feature_names %}
    <li class="hm-feature">
      <a href="{{ feature_links[forloop.index0] }}" target="_blank" class="hm-feature-core">
        <img src="{{ feature_logos[forloop.index0] }}" alt="{{ name | append: 'Logo'  }}" width="120" height="28">
      </a>
    </li>
  {% endfor %}

</ul>
