<button class="nav-burger" onclick="this.classList.toggle('active');"></button>
<nav class="nav">
	<section class="nav-main lora">
		<a href="/">Home</a>
		<a href="/notes/now">Now</a>
		<!-- <a href="/#work">Work</a> -->
		<a href="/notes">Notes</a>
		<a href="/#features">Features</a>
		<!-- <a href="/readme">Colophon</a> -->
	</section>

	<section class="nav-socials">
		<a href="https://www.twitter.com/clearlysid" target="_blank">Twitter</a>
		<a href="https://www.github.com/clearlysid" target="_blank">Github</a>
		<a href="https://www.linkedin.com/in/clearlysid" target="_blank">LinkedIn</a>
	</section>
</nav>