<button onclick="this.classList.toggle('active');" aria-label="Menu" class="nav-burger"><span class="nav-burger-inner"></button>
<nav class="nav">
	<section class="nav-main lora">
		<a href="/">Home</a>
		<a href="/notes/now">Now</a>
		<a href="/notes">Notes</a>
		<a href="/#features">Features</a>
	</section>

	<section class="nav-socials">
		<a href="https://www.twitter.com/clearlysid" target="_blank">Twitter</a>
		<a href="https://www.github.com/clearlysid" target="_blank">Github</a>
		<a href="https://www.linkedin.com/in/clearlysid" target="_blank">LinkedIn</a>
	</section>
</nav>