---
layout: default
type: article
permalink: "/notes/{% if slug %}{{ slug }}{% else %}{{ title | slug }}{% endif %}/"
---

<a href="/notes/" class="back-button">← All Notes</a>

<article class="nt-wrapper">
	<header class="nt-header lora">
		{%- if image -%}
		<div class="nt-image">
			{% cloudinary image title 600 %}
		</div>
		{%- endif -%}
		<time class="nt-date">{{ page.date | date: '%B %d, %Y' }}</time>
		<h1 class="nt-title" {% if image %} style="width: {{ title | size | times: 0.5 | round }}ch;" {% endif %}>
			{{ title }}
		</h1>
	</header>

	{{- content | safe -}}
</article>