---
layout: "default"
---

<div data-barba="container">
	<a class="back-button" href="/">back</a>
	<article class="project">
		<header style="padding-top: 120px">
			<h1 class="project-title">{{ project.title }}</h1>
			<div class="project-image">
				<img src="{{ image }}" alt="">
			</div>
		</header>
		
		<main class="project-body">
			{% notion project.blocks %}
		</main>
		
		<footer class="project-footer" style="padding-bottom: 100px">
			<p style="font-style: normal">
				Check out this other case study too!
			</p>
		</footer>
	</article>
</div>