---
layout: "default"
---

<div class="page-container" data-barba="container">
	<a class="back-button" href="/">back</a>
	<article class="project">
		<header>
			<h1 class="project-title">{{ project.title }}</h1>

			<div class="project-metadata">
				{% if project.role != BLANK %}
					<div>
						<div class="overline">Role</div>
						{% for role in project.role %}
						<div class="tag">{{ role }}</div>
						{% endfor %}
					</div>
				{% endif %}

				{% if project.company != BLANK %}
					<div>
						<div class="overline">Company</div>
						<div class="tag">{{ project.company }}</div>
					</div>
				{% endif %}

				{% if project.year != BLANK %}
					<div>
						<div class="overline">Year</div>
						<div class="tag">{{ project.year }}</div>
					</div>
				{% endif %}
			</div>

			<div class="project-image">
				<img src="{{ image }}" alt="">
			</div>
		</header>
		
		<main class="project-body">
			{% notion project.blocks %}
		</main>
		
		<footer class="project-footer">

			{% if pagination.page.next %}
				{% assign next_title = pagination.page.next.title %}
				{% assign next_image = pagination.page.next.images[0].rawUrl %}
				{% assign next_link = pagination.href.next %}
			{% else %}
				{% assign next_title = pagination.page.first.title %}
				{% assign next_image = pagination.page.first.images[0].rawUrl %}
				{% assign next_link = pagination.href.first %}
			{% endif %}

			<a href="{{ next_link }}">
				<div class="handwritten">wanna check out the next project too?</div>
				<img src="{{ next_image }}" alt="{{ next_title }}" width="220" height="200">

				<svg width="393" height="345" viewBox="0 0 393 345" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M140.294 372.65C163.004 378.161 188.799 374.487 218.63 363.811C233.061 358.647 246.588 353.249 259.693 332.987C276.753 306.609 283.617 280.873 290.369 255.768C299.029 223.57 306.55 191.594 298.348 171.241C291.046 153.118 275.138 142.232 253.301 147.124C245.093 148.963 232.434 151.765 223.856 165.586C212.383 184.071 223.206 197.005 234.824 192.568C250.212 186.692 271.37 168.508 281.657 146.05C311.692 80.4788 277.879 58.3356 251.984 44.8181C236.543 36.7574 216.937 35.2691 202.531 25.4091C195.864 20.8462 190.783 14.3463 184.11 9.77871" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
			</a>
		</footer>
	</article>
</div>