{% if title %}
	{% assign page_title = title %}
{% else %}
	{% assign page_title = seo.title %}
{% endif %}

{% if description %}
	{% assign page_desc = description %}
{% else %}
	{% assign page_desc = seo.description %}
{% endif %}

{% if type %}
	{% assign page_type = type %}
{% else %}
	{% assign page_type = seo.type %}
{% endif %}

{% if image %}
	{% assign page_image = image %}
{% else %}
	{% assign page_image = seo.image %}
{% endif %}

{% if author %}
	{% assign page_author = author %}
{% else %}
	{% assign page_author = seo.author %}
{% endif %}

{% if username %}
	{% assign page_username = username %}
{% else %}
	{% assign page_username = seo.username %}
{% endif %}


<title>{{- page_title -}}</title>
<link rel="canonical" href="{{ seo.url }}{{- page.url -}}" />
<meta name="description" content="{{- page_desc -}}"/>
<meta property="og:title" content="{{- page_title -}}"/>
<meta property="og:description" content="{{- page_desc -}}"/>
<meta property="og:type" content="{{- page_type -}}"/>
<meta property="og:image" content="{{- page_image -}}"/>
<meta property="og:url" content="{{ seo.url }}{{- page.url -}}" />
<meta property="og:site_name" content="{{- page_author -}}"/>
<meta name="twitter:card" value="summary" />
<meta name="twitter:site" content="{{- page_username -}}"/>
<meta name="twitter:title" content="{{- page_title -}}"/>
<meta name="twitter:description" content="{{- page_desc -}}"/>
<meta name="twitter:creator" content="{{- page_username -}}"/>
<meta name="twitter:image" content="{{- page_image -}}"/>