{% assign global_title = "siddharth / @clearlysid" %}
{% assign global_image = "https://res.cloudinary.com/clearlysid/image/upload/v1647637689/open-graph_uxzmph.jpg" %}
{% assign global_baseurl = "https://www.sid.me" %}
{% assign global_sitename = "siddharth / @clearlysid" %}
{% assign global_username = "@clearlysid" %}

{%- if title -%}
<title>{{ global_sitename }} — {{ title -}}</title>
<meta property="og:title" content="{{ global_sitename }} — {{ title -}}" />
{%- else -%}
<title>{{- global_title -}}</title>
{%- endif -%}

<meta property="og:url" content="{{- page.url -}}" />
<meta property="og:site_name" content="{{- global_sitename -}}" />
<meta name="twitter:card" value="summary" />
<meta name="twitter:site" content="{{- global_username -}}" />
<link rel="canonical" href="{{ global_baseurl }}{{- page.url -}}" />

{%- if description -%}
<meta name="description" content="{{- description -}}" />
<meta property="og:description" content="{{- description -}}" />
{% elsif layout == "note" %}
<meta name="description" content="{{- page.excerpt | strip_newlines -}}" />
<meta property="og:description" content="{{- page.excerpt | strip_newlines -}}" />
{%- endif -%}

{%- if image -%}
<meta property="og:image" content="{{- image -}}" />
{%- else -%}
<meta property="og:image" content="{{- global_image -}}" />
{%- endif -%}

{%- if type -%}
<meta property="og:type" content="{{- type -}}" />
{%- else -%}
<meta property="og:type" content="website" />
{%- endif -%}