.header {
    max-width: 1600px;
    margin: 0 auto;
    width: 80%;
    margin-top: 12vh;
}

.site-header-text {
    max-width: 1140px;
    color: #c9c9c9;
    font-weight: bold;
    font-size: 42px;
    font-size: max(32px, min(2.96vw, 42px));
    line-height: 1.375;
}

.site-header-text > span {
    color: #333333;
    font-size: inherit;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.site-header-text > span:hover {
    mix-blend-mode: exclusion;
    color: #33333300;
    // color: rgb(201, 201, 201);
    -webkit-text-stroke: 2px #c9c9c9;
    opacity: 0.8;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    padding: 0 min(10%, 100px);
}

.swiper-container {
    margin: min(max(40px, 7vh), 100px) auto;
}

.card {
    display: block;
    position: relative;
}

.card-image {
    width: 100%;
    height: 100%;
}

.card-image img {
    transition: transform 0.4s ease-out !important;
}

.card:hover {
    .card-title { opacity: 1; }
    .card-image img { transform: scale(1.05); }
}

.card-title {
    font-size: 18px;
    opacity: 0.4;
    z-index: 1;
    position: absolute;
    bottom: -36px;
    transition: opacity 0.3s ease;
}

.swiper-slide {
    // this font-size is the scale factor for all cards
    font-size: min(max(12px, 2vh), 18px);
}

.swiper-slide:nth-of-type(4n+1) .card {
    width: 20em;
    height: 24em;
}

.swiper-slide:nth-of-type(4n+2) .card {
    height: 18em;
    width: 30em;
}

.swiper-slide:nth-of-type(4n+3) .card {
    height: 23em;
    width: 25em;
}

.swiper-slide:nth-of-type(4n) .card {
    height: 18em;
    width: 25em;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    opacity: 0.3;
    font-size: 12px;
    font-weight: regular;
    letter-spacing: 0.2px;
}

#social-icons {
    list-style-type: none;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    margin: min(5vw, 24px);
    z-index: 2;
    justify-content: center;

    li > a {
        display: inline-block;
        border: none;
    }

    svg {
        padding: 8px;
        box-sizing: content-box;
        opacity: 0.3;
        transition: opacity 0.3s ease;
    }

    li:hover {
        svg {
            opacity: 1;
        }
    }
}

main.notion > .notion:first-child {
    display: none;
}

.notion .main-title {
    max-width: min(800px, 90%);
    margin: 0 auto;
    text-align: center;
    padding-bottom: 0.2em;
}

.notion .main-date {
    max-width: min(800px, 90%);
    margin: 0 auto;
    text-align: center;
    opacity: 0.4;
    font-size: 0.9rem;
    padding-bottom: 2em;
}

.notion .main-image {
    max-width: 1000px;
    height: min(max(300px, 50vh), 400px);
    margin: 0 auto 20px;
    position: relative;
}

.notion img {
    display: block;
    margin-bottom: 20px;
}

.back-button {
    position: fixed;
    top: 0;
    left: 0;
    padding: 16px;
    padding-right: 28px;
    margin: min(5vw, 20px);
    z-index: 1;
    font-weight: bold;
    opacity: 0.3;
}

.hover-reveal {
	position: fixed;
	width: 132px;
	height: 100px;
	top: 0;
	left: 0;
	pointer-events: none;
    opacity: 0;
    z-index: -1;
}

.hover-reveal__inner,
.hover-reveal__img {
	width: 100%;
	height: 100%;
    position: relative;
}

.hover-reveal__deco {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #181314;
}

.hover-reveal__img {
	background-size: cover;
    background-position: 50% 50%;
}