.page-title {
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
	color: #333333;
	font-size: max(28px, min(4vw, 42px));
	line-height: 1.4em;
	max-width: 1200px;
	padding: 0;
	margin-bottom: 4rem;
}

.blog .page-title {
	max-width: 1000px;
}

.home .page-title {
	max-width: 1100px;
}

.now .page-title {
	max-width: 800px;
}

.now {
	margin-bottom: 120px !important;
}

.page-container {
	max-width: calc(1200px + 4rem);
	margin: 0 auto;
	padding: 0 2rem;
}

.page-footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    opacity: 0.3;
	font-size: 12px;
	font-family: 'Manrope', sans-serif;
    font-weight: regular;
    letter-spacing: 0.2px;
}

.back-button {
    position: fixed;
    top: 0;
    left: 0;
    padding: 16px;
    padding-right: 28px;
    margin: min(5vw, 20px);
    z-index: 1;
    font-weight: 500;
    opacity: 0.4;
}

.hover-reveal {
	position: fixed;
	width: 132px;
	height: 100px;
	top: 0;
	left: 0;
	pointer-events: none;
    opacity: 0;
	z-index: -1;
	perspective: 1000px;
}
.hover-reveal__inner {
	overflow: hidden;
}
.hover-reveal__inner,
.hover-reveal__img {
	width: 100%;
	height: 100%;
    position: relative;
}
.hover-reveal__deco {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #181314;
}
.hover-reveal__img {
	background-size: cover;
    background-position: 50% 50%;
}

::selection {
    background: rgb(255, 231, 185);
}

.blog-tags {
	color: #333333;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	column-gap: 1.4em;
	margin: 0 auto 2em;
	font-size: max(14px, min(1.8vw, 18px));
}

.blog-tag {
	cursor: pointer;
	font-weight: 500;
	font-family: 'Manrope';
	font-size: inherit;
	line-height: 1em;
}

.blog-list-wrapper {
	display: grid;
	grid-template-columns: 3fr minmax(320px, 2fr);
	column-gap: 4rem;
	@media screen and (max-width: 800px){grid-template-columns: 1fr; row-gap: 4rem;}
	padding-bottom: 4rem;
}

.post-list {
	padding: 2rem 0;
	grid-column: 1;
	border-top: 2px solid #eeeeee;
	width: 100%;

	li {
		list-style: none;
		margin: 0;
		padding-bottom: 1em;
		position: relative;
		transition: transform 0.2s ease;

		a {
			display: grid;
			grid-template-columns: min-content auto;
			column-gap: 20px;
			border: none;
			align-items: flex-start;

			.post-date {
				font-size: 14px;
				line-height: 1.8em;
				font-family: 'Inconsolata', monospace;
			}
			
			h4 {
				margin-top: 0;
				font-family: 'hk_grotesk', sans-serif;
				font-weight: 400;
			}
		}
	}
}

.sidds {
	margin-top: 0;
	position: relative;
	transform-style: preserve-3d;
	transform: perspective(1000px);
	max-width: 400px;
	justify-self: center;
}

.sidds-blog {
	width: 100%;
	height: auto;
}

.sidds-text {
	position: absolute;
	width: 100%;
	top: 0;
	transform: translateZ(20px);
}

//-------------------------------

.playground {
	width: 100%;
	margin-bottom: 120px;
}

.pg-inner {
	display: grid;
	grid-template-columns: repeat(6, 1fr);

	@media screen and (max-width: 600px) {
		grid-template-columns: repeat(4, 1fr);
		
	}
	margin: 0 auto;
	align-items: center;
	background: #f8f8f8;
}

.play {
	// height: 200px;
	// width: 300px;
	// background-color: lightcoral;
	// padding: 1rem;
	margin: 1rem;
	grid-column-end: span 2;
}

.play-xs {
	grid-column-end: span 1;

} 

.play-s {
	grid-column-end: span 2;
}

.play-m {
	grid-column-end: span 3;
}

.play-l {
	grid-column-end: span 2;
	grid-row-end: span 2;
}






.project-hero {
	height: 100vh;
	background: #7b42ff;
	margin-top: -120px;
	width: 100vw;
	position: relative;
}


.project-meta-image {
	height: 300px;
	width: 300px;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 40%;
	left: 40%;
	transform-origin: center;
}

.now .notion-column figure {
	margin: 0 !important;
}

// .now p, .now li {
// 	font-size: 18px;
// }