@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&family=Manrope:wght@300;400;500;700&display=swap');

@font-face {
    font-family: 'hk_grotesk';
    src: url('/fonts/hk-grotesk/hkgrotesk-bold.eot');
    src: url('/fonts/hk-grotesk/hkgrotesk-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hk-grotesk/hkgrotesk-bold.woff2') format('woff2'),
         url('/fonts/hk-grotesk/hkgrotesk-bold.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'hk_grotesk';
    src: url('/fonts/hk-grotesk/hkgrotesk-italic.eot');
    src: url('/fonts/hk-grotesk/hkgrotesk-italic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hk-grotesk/hkgrotesk-italic.woff2') format('woff2'),
         url('/fonts/hk-grotesk/hkgrotesk-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'hk_grotesk';
    src: url('/fonts/hk-grotesk/HKGrotesk-Medium.eot');
    src: url('/fonts/hk-grotesk/HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hk-grotesk/HKGrotesk-Medium.woff2') format('woff2'),
         url('/fonts/hk-grotesk/HKGrotesk-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'hk_grotesk';
    src: url('/fonts/hk-grotesk/hkgrotesk-regular.eot');
    src: url('/fonts/hk-grotesk/hkgrotesk-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hk-grotesk/hkgrotesk-regular.woff2') format('woff2'),
         url('/fonts/hk-grotesk/hkgrotesk-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}