body {
    width: 100vw;
    position: relative;
    margin: 0;
	padding-top: max(100px, 12vh);
    overscroll-behavior-y: none;
	min-height: 99vh;
	overflow-x: hidden;
}

.app {
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
	width: 100%;
	margin: 0 auto;
	// padding: 0 2rem;
}

.smooth-scroll {
    position: relative;
	min-height: 100vh;
	padding: 120px 0;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: black;
    height: 5rem;
    width: 5rem;
    backface-visibility: hidden;
    z-index: 999;
	border-radius: 50%;
	transition: opacity 0.3s ease, height 0.3s ease, width 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
	font-size: 80%;
	font-weight: bold;
	will-change: height width opacity;
	transform: translate3d(-100%, -100%, 0); // initiliazes cursor off screen

	span {
		transition: all 0.6s ease;
	}
}


article.notion {
	height: 100%;
	margin: 0 auto;
}

article.notion > div > main.notion > * {
	width: min(720px, 90%);
	margin-left: auto;
	margin-right: auto;
}

.notion .main-title {
    max-width: min(800px, 90%);
    margin: 0 auto;
    text-align: center;
    padding-bottom: 0.2em;
}

.notion .main-date {
    max-width: min(800px, 90%);
    margin: 0 auto;
    text-align: center;
    opacity: 0.5;
    font-size: 1rem;
    padding-bottom: 2em;
}

.main-image {
	width: max-content;
	width: min(1000px, 100%) !important;
	height: min(max(200px, 50vh), 400px) !important;
	overflow: hidden;
	margin: auto;
	margin-bottom: 2rem;
	border-radius: 0;
}


.main-footer {
	width: min(720px, 90%);
	margin-left: auto;
	margin-right: auto;
}



#canvas {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
}

// .plane img {
// 	opacity: 0;
// 	}


.project-hero {
	height: 100vh;
	background: #7b42ff;
	margin-top: -120px;
	width: 100vw;
	position: relative;
}


.project-meta-image {
	height: 300px;
	width: 300px;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 40%;
	left: 40%;
	transform-origin: center;
}