body {
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
    height: 100%;
}

main.app {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.smooth-scroll {
    position: relative;
    min-height: 100vh;
}

.cursor {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.3);
    // background-color: black;
    border-radius: 50%;
    transition: 0.3s ease;
    transition-property: transform, padding, opacity;
    padding: 0.6rem;
    position: fixed;
    top: -1rem;
    left: -1rem;
    z-index: 100;
    opacity: 1;
}

.on-swiper {
    // transform: scale(2);
    padding: 1.6rem;
}

body:hover > div > div > div > .cursor {
    opacity: 1;
}

* {
    cursor: none !important;
}


article.notion {
    padding: 120px 0;
    height: 100%;
}