body {
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
    min-height: 100vh;
}

.app {
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.smooth-scroll {
    position: relative;
    min-height: 100vh;
}

.cursor {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    // mix-blend-mode: color-burn;
    background-color: black;
    height: 5rem;
    width: 5rem;
    backface-visibility: hidden;
    z-index: 999;
    border-radius: 50%;
}

// .cursor::after {
//     content: 'READ';
//     color: white;
//     position: absolute;
//     font-weight: bold;
//     text-align: center;
//     font-size: 1rem;
//     top: 40%;
//     width: 100%;
//     opacity: 0;
// }

body:hover > div > div {
    .cursor { opacity: 1; }
    .cursor::after { opacity: 1; }
}

article.notion {
    padding: 120px 0;
    height: 100%;
}

.tl-edges {
    height: 100%;
    overflow: hidden;
}


.loader {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2000;
    background: pink;
}