article.notion {
	height: 100%;
	margin: 0 auto;
}

article.notion > div > main.notion > * {
	width: min(720px, 90%);
	margin-left: auto;
	margin-right: auto;
}

.article-title {
    max-width: min(800px, 90%);
    margin: 0 auto;
    text-align: center;
    padding-bottom: 0.2em;
}

.article-date {
    max-width: min(800px, 90%);
    margin: 0 auto;
    text-align: center;
    opacity: 0.5;
    font-size: 1rem;
	padding-bottom: 2em;
	font-family: 'Manrope', sans-serif;
}

.article-image {
	width: max-content;
	width: min(1000px, 100%) !important;
	height: min(max(200px, 50vh), 400px) !important;
	overflow: hidden;
	margin: auto;
	margin-bottom: 2rem;
	border-radius: 0;
}


.article-footer {
	width: min(720px, 90%);
	margin-left: auto;
	margin-right: auto;
}



.notion-page {
	padding: 0 2rem;
	margin: 0 auto;
	width: 100%;
}

.notion-full-width {
	padding: 0 40px;
	max-width: 100%;
}

.notion-small-text {
	p, li {
		font-size: 18px;
	}
}

.notion-asset-wrapper {
	margin: 0.5rem auto 0.5rem;
	max-width: 100%;
}

.notion-asset-wrapper iframe {
	border: none;
	width: 90%;
	height: 300px;
	margin: 0 auto;
}

.notion-column {
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}

.notion-column > *:first-child {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

.notion-column > *:last-child {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.notion-row {
	display: flex;
	overflow: hidden;
}

.notion-bookmark {
	margin: 4px 0;
	width: 100%;
	box-sizing: border-box;
	text-decoration: none;
	border: 1px solid rgba(55, 53, 47, 0.16);
	border-radius: 4px;
	display: flex;
	overflow: hidden;
	user-select: none;
}

.notion-bookmark > div:first-child {
	flex: 4 1 180px;
	padding: 12px 14px 14px;
	overflow: hidden;
	text-align: left;
	color: rgb(55, 53, 47);
}

.notion-bookmark-title {
	font-size: 14px;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-height: 24px;
	margin-bottom: 2px;
}

.notion-bookmark-description {
	font-size: 12px;
	line-height: 16px;
	opacity: 0.6;
	height: 32px;
	overflow: hidden;
}

.notion-bookmark-link {
	display: flex;
	margin-top: 6px;
}

.notion-bookmark-link > img {
	width: 16px;
	height: 16px;
	min-width: 16px;
	margin-right: 6px;
}

.notion-bookmark-link > div {
	font-size: 12px;
	line-height: 16px;
	color: rgb(55, 53, 47);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.notion-bookmark-image {
	flex: 1 1 180px;
	position: relative;
}

.notion-bookmark-image img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
}

.notion-column .notion-bookmark-image { display: none; }

@media (max-width: 640px) {
	.notion-bookmark-image {
		display: none;
	}

	.notion-row { flex-direction: column; }

	.notion-row > *,
	.notion-column > * {
		width: 100% !important;
	}
}

.notion-spacer:last-child {
	display: none;
}

.notion-image-inset {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 1px;
}

.notion-image-caption {
	padding: 6px 0px;
	white-space: pre-wrap;
	word-break: break-word;
	font-size: 0.8rem;
	line-height: 1.4em;
	color: rgba(55, 53, 47, 0.6);
}

.notion.toggle {
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
}

.notion.toggle > summary {
	cursor: pointer;
	outline: none;
}

.notion.toggle > div {
	margin-left: 1em;
}

details:focus, summary:focus {
	outline: none;
}

.notion-table, .notion-th, .notion-td {
	border: 1px solid rgba(55, 53, 47, 0.09);
	border-collapse: collapse;
}

.notion-table {
	width: 100%;
	border-left: none;
	border-right: none;
	border-spacing: 0px;
	white-space: nowrap;
}

.notion-th, .notion-td {
	font-weight: normal;
	padding: 0.25em 0.5em;
	line-height: 1.5;
	min-height: 1.5em;
	text-align: left;
	font-size: 14px;
}

.notion-td.notion-bold {
	font-weight: 500;
}

.notion-th {
	color: rgba(55, 53, 47, 0.6);
	font-size: 14px;
}

.notion-td:first-child,
.notion-th:first-child {
	border-left: 0;
}

.notion-td:last-child,
.notion-th:last-child {
	border-right: 0;
}

.notion-gallery {
	display: grid;
	position: relative;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-auto-rows: 1fr;
	gap: 16px;
	border-top: 1px solid rgba(55, 53, 47, 0.16);
	padding-top: 16px;
	padding-bottom: 4px;
}
.notion-gallery-card {
	display: block;
	color: inherit;
	text-decoration: none;
	box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,rgba(15, 15, 15, 0.1) 0px 2px 4px;
	border-radius: 3px;
	background: white;
	overflow: hidden;
	transition: background 100ms ease-out 0s;
	position: static;
	height: 100%;
}

.notion-gallery-content {
	padding: 8px 10px 6px;
	font-size: 12px;
	white-space: nowrap;
}

.notion-gallery-data.is-first {
	white-space: nowrap;
	word-break: break-word;
	caret-color: rgb(55, 53, 47);
	font-size: 14px;
	line-height: 1.5;
	min-height: 21px;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
}