h1 {
	font-size: 4.5rem;
	font-weight: 700;
	letter-spacing: -0.04em;
	line-height: 1.02em;
	color: #222;
}

h2,
h3,
h4,
h5,
h6 {
	margin-top: 0.6em;
	margin-bottom: 1rem;
	line-height: 1.25;
	color: #333;
	font-weight: 600;
	letter-spacing: -0.02em;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

@font-face {
	font-family: "Lora";
	src: url("/assets/lora-italic.woff2") format("woff2"),
		url("/assets/lora-italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

.lora {
	font-family: "Lora", serif;
	font-style: italic;
	font-weight: 400 !important;
	line-height: 1.2em !important;
	letter-spacing: -0.05em !important;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

@media (max-width: 720px) {
	html {
		font-size: max(2.222vw, 13px);
	}

	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 1.8rem;
	}

	h3 {
		font-size: 1.4rem;
	}
}

blockquote {
	border-left: 2px solid currentColor;
	margin-bottom: 2em;
	padding: 0.2em 1em;
	line-height: 1.6em;
}

blockquote > *:last-child {
	margin-bottom: 0;
}

p,
ul,
ol {
	color: #222;
}

ul,
ol {
	margin: 0 auto 1rem;
	padding-left: 1.25rem;
}

li {
	word-wrap: break-word;
	margin-bottom: 0.2rem;
}

sup {
	vertical-align: top;
	position: relative;
	top: -0.5em;
	margin-left: 1px;
}

code,
pre {
	font-family: ui-monospace, "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
		"Ubuntu Monospace", "Fira Mono", monospace;
}

code {
	color: inherit;
	background: rgba(0, 0, 0, 0.1);
	padding: 2px 6px;
	margin: 0px 4px;
	border-radius: 4px;
	font-size: 0.84em;
}

pre {
	display: block;
	margin: 4rem auto;
	font-size: 0.9rem;
	line-height: 1.4;
	white-space: pre;
	overflow-x: auto;
	background-color: #fafafa;
	border: 1px solid #ddd;
	border-radius: 0.6em;
	padding: 1.4em;
}

pre code {
	font-size: 100%;
	color: inherit;
	background-color: transparent;
	padding: 0;
}

time {
	font-size: 1rem;
	color: darkgray;
}
