---
layout: default
permalink: /notes/
title: notes on code, design and culture.
description: A series of notes and essays by Siddharth (@clearlysid) on adventures in the startup world.
---

<main class="blg-wrapper">
	<h1> @clearlysid's notes on <span class="lora">code, design & culture.</span></h1>

	<ul class="blg-list">
		{% for note in collections.now %}
		{% if note.data.published == true %}
		<li class="blg-item" role="article">
			<time class="blg-item-date lora">NOW</time>
			<a href="{{ note.url }}" class="blg-item-title">
				{{ note.data.title }}
			</a>
		</li>
		{% endif %}
		{% endfor %}

		{% for note in collections.notes reversed %}
		{% if note.data.published == true and note.data.slug != "now" %}
		<li class="blg-item" role="article">
			<time class="blg-item-date lora">{{ note.date | date: "%d-%m-%y" }}</time>
			<a href="{{ note.url }}" class="blg-item-title">
				{{ note.data.title }}
			</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</main>