---
layout: default
---

<div data-barba="container">
	<a class="back-button" href="/blog/">back</a>
	<article class="article">
		<header style="padding-top: 120px">
			<h1 class="article-title">{{ title }}</h1>
			<div class="article-date">{{ post.date | date: "%B %d, %Y"}}</div>
			<div class="article-image">
				{% cloudimage image %}
			</div>
		</header>
		
		<main class="article-body">
			{{ content | safe }}
		</main>
		
		<footer class="article-footer" style="padding-bottom: 100px">
			<p style="font-style: normal">
				Thanks for reading! <br>
				<a href="mailto:hey@sidds.me" target="_blank">
					hey@sidds.me</a>
				/
				<a href="https://www.twitter.com/clearlysid" target="_blank" rel="noreferrer">
					@clearlysid
				</a>
			</p>
		</footer>
		<footer class="page-footer">Copyleft ©{{ "now" | date: "%Y" }}, Built on 11ty via Notion.</footer>
	</article>
</div>