<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="/assets/favicon/site.webmanifest">
	<link href="https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% webpackAsset 'main.css' %}">
	{%- include seo.html -%}
</head>
<body data-barba="wrapper">
	
	{%- include navigation.html -%}

	{{- content | safe -}}
	
	<div className="scrollbar"></div>
	<script src="{% webpackAsset 'main.js' %}"></script>
</body>
</html>