.blg-wrapper {
	max-width: 54rem;
	margin: 0 auto;
	padding: 0 2rem 3rem;
}

header.blg-wrapper {
	padding-top: 8rem;
	position: relative;
}

.blg-wrapper h1 {
	max-width: 18ch;
	margin-bottom: 0;
}

.blg-wrapper p {
	font-size: 1rem;
	line-height: 1.8em;
	max-width: 50ch;
	margin-top: 1em;
}

.blg-wrapper p > a {
	border: none;
	font-weight: 600;
}

.blg-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 3rem;
}

.blg-item {
	margin-bottom: 1.4rem;
	display: grid;
	align-items: flex-start;
	grid-template-columns: 3.6rem auto;
	column-gap: 2rem;
	row-gap: 0.4rem;
}

.blg-item-title {
	font-size: 1.28rem;
	letter-spacing: -0.02em;
	line-height: 1.4em;
	width: max-content;
	color: #222;
	position: relative;
	cursor: pointer;
	border: none;
}

.blg-item-date {
	padding-top: 0.4em;
	letter-spacing: 0;
	font-size: 0.9em;
	color: #444444;
	width: 10ch;
}

@media (max-width: 620px) {
	header.blg-wrapper {
		overflow: hidden;
		max-width: 100vw;
	}

	.blg-wrapper h1 {
		max-width: 80vw;
		font-size: min(4.5rem, 12vw);
	}

	.blg-wrapper p {
		max-width: 70vw;
	}

	.blg-item-title {
		width: 100%;
	}
}
