body {
	position: relative;
	min-height: 99vh;
	height: 100%;
	width: 100vw;
	overflow-x: hidden;
	// overflow: hidden;
}

.page-title {
	line-height: 1em;
	padding: 0;
	margin-bottom: 0.4em;
}

.page-subtitle {
	font-family: "hk_grotesk";
	font-size: max(16px, min(1.9vw, 20px));
	line-height: 1.6em;
	margin-top: 0;
}

.page-container {
	max-width: calc(1200px + 16vw);
	margin: 0 auto;
	padding: 10.8rem max(1.5rem, 8vw) 0;
}

@media screen and (max-width: 800px) {
	.page-subtitle {
		font-size: 1rem;
	}

	.page-container {
		padding-top: 5rem;
	}
}

.page-footer {
	position: absolute;
	left: 0;
	bottom: 20px;
	text-align: center;
	width: 100%;
	opacity: 0.4;
	font-size: 12px;
	font-family: "Manrope", sans-serif;
	letter-spacing: 0.2px;
	pointer-events: none;
}

.overline {
	font-family: "Manrope", sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 1.6em;
	letter-spacing: 0.08em;
	position: relative;
	text-transform: uppercase;
	color: #b8b8b8;
	width: max-content;
}

.overline::after {
	content: "";
	height: 0.14em;
	width: 2.6em;
	position: absolute;
	top: 0.7em;
	left: calc(100% + 1em);
	background-color: currentColor;
	margin-bottom: 0.5rem;
}

.tag {
	font-family: "hk_grotesk", sans-serif;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.6em;
	// letter-spacing: 0.02em;
}

.back-button {
	color: #333333;
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	font-size: max(16px, min(1.8vw, 20px));
	padding: 2em;
	z-index: 1;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.2s ease-out;

	&::before {
		content: "";
		position: absolute;
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.62 2.99004C16.5039 2.87363 16.366 2.78127 16.2141 2.71826C16.0622 2.65524 15.8994 2.6228 15.735 2.6228C15.5706 2.6228 15.4078 2.65524 15.2559 2.71826C15.1041 2.78127 14.9661 2.87363 14.85 2.99004L6.54 11.3C6.4473 11.3926 6.37375 11.5024 6.32357 11.6234C6.27339 11.7444 6.24756 11.8741 6.24756 12.005C6.24756 12.136 6.27339 12.2657 6.32357 12.3867C6.37375 12.5076 6.4473 12.6175 6.54 12.71L14.85 21.02C15.34 21.51 16.13 21.51 16.62 21.02C17.11 20.53 17.11 19.74 16.62 19.25L9.38 12L16.63 4.75004C17.11 4.27004 17.11 3.47004 16.62 2.99004Z' fill='%23333333'/%3E%3C/svg%3E");
		background-size: contain;
		top: 2.2em;
		left: 1em;
		height: 0.8em;
		width: 0.8em;
		transition: all 0.2s ease-out;
	}

	@media (min-width: 700px) {
		&::before {
			opacity: 0;
		}

		&:hover {
			transform: translateX(10px);
		}

		&:hover::before {
			opacity: 1;
		}
	}
}

.nav-main {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
}

.nav-list {
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	list-style: none;
	height: 100vh;
	display: flex;
	flex-direction: column;
	transform-origin: top right;
	background: #efefef;
	font-size: 2rem;
	padding-left: 4rem;
	padding-top: 16vh;
	transition: transform 0.6s cubic-bezier(0.26, 1, 0.66, 1);
	transform: translateX(100%);

	& > li {
		margin: 0.6rem 1rem;
		width: min-content;
		transition: all 0.2s ease-out;
	}

	& > li:hover {
		transform: translateX(10px);
	}

	@media (max-width: 700px) {
		width: 100%;
	}
}

.nav-main.active > .nav-list {
	transform: translateX(0);
}

.nav-button {
	z-index: 10;
	position: relative;
	padding: 0.8rem;
	background: black;
	border-radius: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1.2rem;
}

.handwritten {
	font-family: "Give You Glory", sans-serif;
	font-weight: normal;
	letter-spacing: 0.003em;
	text-decoration: none;
	font-size: 20px;
}

.article-title {
	font-size: max(32px, min(4vw, 48px));
	max-width: min(800px, 90%);
	margin: 170px auto 0;
	text-align: center;
	padding-bottom: 0.2em;
	line-height: 1.4em;
}

@media (max-width: 800px) {
	.article-title {
		margin-top: 5rem;
	}
}

.article-date {
	max-width: min(800px, 90%);
	margin: 0 auto;
	text-align: center;
	opacity: 0.4;
	font-size: 1rem;
	padding-bottom: 2em;
	font-family: "Manrope", sans-serif;
}

.article-image {
	width: max-content;
	width: min(1000px, 100%) !important;
	height: min(max(200px, 50vh), 400px) !important;
	overflow: hidden;
	margin: auto;
	margin-bottom: 2rem;
	border-radius: 0;
}

.article-body > * {
	width: min(var(--content-para-width), 90%);
	margin-left: auto;
	margin-right: auto;
}

.article-footer {
	width: min(var(--content-para-width), 90%);
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
}

.project header {
	display: grid;
	position: relative;
	row-gap: 1.5rem;
	margin-bottom: 2.8rem; // 8rem on desktop
}

.project-title {
	padding: 0;
}

.project-image {
	grid-row: 2;
	height: 10rem;

	img {
		border-radius: 4px;
	}
}

.project-metadata {
	display: grid;
	width: 100%;
	grid-auto-flow: column;

	@media (max-width: 800px) {
		.overline {
			font-size: 10px;
		}

		.overline::after {
			opacity: 0;
		}

		.tag {
			font-size: 14px;
		}
	}
}

@media (min-width: 800px) {
	.project header {
		margin-bottom: 4rem;
		height: max-content;
	}

	.project-title {
		padding-top: 2.8rem;
		max-width: 20ch;
	}

	.project-image {
		grid-row: unset;
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		user-select: none;
	}

	.project-metadata {
		width: max-content;
		padding-bottom: 2.8rem;
		column-gap: 42px;

		& > div {
			width: 140px;
		}
	}

	.project-body {
		max-width: 620px;
	}
}

.project-footer {
	width: 420px;
	height: 380px;
	margin-left: auto;
	overflow: hidden;
	position: relative;
}

.project-footer .handwritten {
	width: 184px;
	transform: translate3d(100px, 0px, 0px) rotate(-4deg);
}

.project-footer img {
	width: 220px;
	height: 200px;
	border: none;
	transform: translate3d(40px, 10px, 0) rotate(-6deg);
	z-index: -1;
	opacity: 1;
}

.project-footer svg {
	position: absolute;
	top: 3rem;
	left: 6rem;
}
