.hm-wrapper {
	max-width: 54rem;
	margin: 0 auto;
	padding: 0 2rem 3rem;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 1.5rem;
}

.hm-head h1 {
	font-size: 5rem;
	margin-bottom: -1rem;
}

.hm-head h2 {
	font-size: 3.375rem;
	margin-bottom: 1.5rem;
}

.hm-head p,
.hm-tail p {
	font-size: 1.125rem;
	line-height: 1.8em;
	letter-spacing: 0.004em;
	margin-bottom: 1.5rem;
}

.hm-cta {
	display: grid;
	grid-auto-flow: column;
	column-gap: 1.5rem;
}

.hm-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.8em;
	border: 1px solid #222222;
	font-size: 1rem;
	width: 8.875rem;
	height: 2.625rem;
	transition: all 0.2s ease;
}

.hm-button:hover {
	background-color: #222222;
	color: white;
}

.hm-head {
	margin-top: 7.5rem;
	grid-column: 1 / 5;
}

.hm-tail {
	margin-top: 4.5rem;
	grid-column: 1 / 5;
}

.hm-wrapper > img:nth-of-type(1) {
	margin-top: 18rem;
	grid-column: 5 / 9;
	grid-row: 1 / span 2;
	height: 37.5rem;
}

.hm-wrapper > img:nth-of-type(2) {
	grid-column: 2 / 6;
	grid-row: 2 / span 2;
	z-index: 2;
}

.hm-wrapper > img:nth-of-type(3) {
	grid-column: 5 / 8;
	grid-row: 3 / span 2;
	margin-top: 6.25rem;
}

.hm-wrapper > img:nth-of-type(4) {
	grid-column: 1 / 5;
	grid-row: 4 / span 2;
	margin-top: 6.25rem;
}

.hm-wrapper > img:nth-of-type(5) {
	grid-column: 4 / 9;
	grid-row: 4 / span 2;
	margin-top: 12.5rem;
}

.hm-features {
	grid-column: span 6;
	margin: 5rem 0;
}

.hm-features-list {
	list-style-type: none;
	padding: 0;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 3rem;
	margin-top: 3.375rem;
}

.hm-feature {
	position: relative;
}

.hm-feature img {
	filter: grayscale(1) blur(4px);
}

.hm-feature:hover img {
	filter: grayscale(0) blur(1px);
}

.hm-feature > a > img {
	transition: all 0.3s ease;
}

.hm-feature:first-of-type > a > img {
	width: 110px;
}

.hm-feature:nth-of-type(2) > a > img {
	width: 115px;
	opacity: 0.6;
}

.hm-feature:nth-of-type(3) > a > img {
	width: 140px;
}

@media (max-width: 860px) {
	.hm-wrapper {
		max-width: 100%;
		grid-template-columns: repeat(4, 1fr);
		padding: 0 0 3rem;
		column-gap: 0;
	}

	.hm-head,
	.hm-tail {
		grid-column: 1 / span 4;
		padding: 0 2rem;
	}

	.hm-head p,
	.hm-tail p {
		max-width: 36ch;
	}

	.hm-wrapper > img:nth-of-type(1) {
		margin-top: 10rem;
		grid-column: 2 / span 4;
		grid-row: 2 / span 2;
		height: 30rem;
	}

	.hm-wrapper > img:nth-of-type(2) {
		grid-column: 1 / span 2;
		grid-row: 3 / span 2;
		z-index: 2;
	}

	.hm-wrapper > img:nth-of-type(3) {
		grid-column: 3 / span 2;
		grid-row: 4 / span 1;
		margin: 0;
	}

	.hm-wrapper > img:nth-of-type(4) {
		grid-column: 1 / span 3;
		grid-row: 5 / span 3;
		margin: 0;
	}

	.hm-wrapper > img:nth-of-type(5) {
		grid-column: 2 / span 3;
		grid-row: 7;
		margin-bottom: 4rem;
	}

	.hm-features-list {
		column-gap: 0;
	}

	.hm-features h2 {
		padding: 0 2rem;
	}
}
