.hm-wrapper {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 24px;
	max-width: calc(800px + 2rem + 2rem);
	margin: 0 auto;
	padding: 0 2rem 3rem;
}

.hm-head {
	margin-top: 120px;
	grid-column: 1 / 5;
}

.hm-head h1 {
	font-size: 81px;
	margin-bottom: -16px;
}

.hm-head h2 {
	font-size: 54px;
	margin-bottom: 24px;
}

.hm-head p,
.hm-tail p {
	font-size: 18px;
	line-height: 1.8em;
	letter-spacing: 0.004em;
	margin-bottom: 24px;
}

.hm-cta {
	display: flex;
	column-gap: 24px;
}

.hm-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.8em;
	border: 1.4px solid #222222;
	font-size: 16px;
	min-width: 142px;
	height: 42px;
	transition: all 0.2s ease;
}

.hm-button:hover {
	background-color: #222222;
	color: white;
}

.hm-tail {
	margin-top: 72px;
	grid-column: 1 / 5;
	/* grid-column: 5 / 9; */
}

.hm-wrapper > img:nth-of-type(1) {
	grid-column: 5 / 9;
}

.hm-wrapper > img:nth-of-type(2) {
	grid-column: 2 / 6;
}
.hm-wrapper > img:nth-of-type(3) {
	grid-column: 5 / 8;
}
.hm-wrapper > img:nth-of-type(4) {
	grid-column: 1 / 5;
}
.hm-wrapper > img:nth-of-type(5) {
	grid-column: 4 / 9;
}
.hm-wrapper > img:nth-of-type(6) {
	grid-column: 1 / 4;
}

.hm-features {
	grid-column: span 6;
	margin-top: 80px;
	margin-bottom: 80px;
}

.hm-features-list {
	list-style-type: none;
	padding: 0;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 48px;
	margin-top: 54px;
}

.hm-feature {
	position: relative;
}

.hm-feature img {
	filter: grayscale(1) blur(4px);
}

.hm-feature > a > img {
	transition: all 0.3s ease;
}

.hm-feature:first-of-type > a > img {
	width: 110px;
}
.hm-feature:nth-of-type(2) > a > img {
	width: 115px;
	opacity: 0.6;
}
.hm-feature:nth-of-type(3) > a > img {
	width: 140px;
}

.hm-feature-media {
	position: absolute;
	top: -200%;
	left: 0;
	transform: rotate(-10deg) scale(0.8);
	width: 100%;
	opacity: 0;
	/* transition: all 0.3s ease; */
	z-index: 0;
	pointer-events: none;
}

/* .hm-feature:hover > a > img {
	opacity: 0;
}

.hm-feature:hover > .hm-feature-media {
	opacity: 1;
	transform: rotate(0deg) scale(1);
} */
