* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-size: 16px;
}

img {
	display: block;
	max-width: 100%;
}

body {
	position: relative;
	min-height: 100vh;
	font-family: "Work Sans", $system-fonts;
	font-weight: 400;
	font-variation-settings: "wght" 350;
	letter-spacing: -0.2px;
	background: #f1f0ec;
}

@media (max-width: 600px) {
	html {
		font-size: 14px;
	}
}
