@font-face {
	font-family: "Takota";
	src: url("../assets/Takota.otf") format("opentype");
	font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

h1 {
	font-family: "takota";
	font-size: 4.5rem;
	line-height: 1.02em;
	color: #333;
}

h2,
h3,
h4,
h5,
h6,
.h {
	margin-bottom: 1rem;
	line-height: 1.25;
	color: #333;
	font-weight: 600;
	font-variation-settings: "wght" 550;
	letter-spacing: -0.04em;
}

h2 {
	margin-top: 2rem;
	font-size: 1.6rem;
}

h3 {
	margin-top: 1.5rem;
	font-size: 1.4rem;
}

blockquote {
	border-left: 2px solid currentColor;
	margin: 3em 0;
	padding: 0.2em 1em;
	line-height: 1.6em;
}

p,
ul,
ol {
	color: #222;
}

ul,
ol {
	margin: 1rem auto;
	padding-left: 1.25rem;
}

li {
	word-wrap: break-word;
	margin-bottom: 1rem;
}

sup {
	vertical-align: top;
	position: relative;
	top: -0.5em;
	margin-left: 1px;
}

code,
pre {
	font-family: Consolas, monaco, monospace;
}

code {
	color: #f14e32;
	background: #eee;
	padding: 2px 6px;
	font-size: 13px;
}

pre {
	display: block;
	margin: 4rem auto;
	font-size: 0.9rem;
	line-height: 1.4;
	white-space: pre;
	overflow-x: auto;
	background-color: #fafafa;
	border: 1px solid #ddd;
	border-radius: 0.6em;
	padding: 1.4em;
}

pre code {
	font-size: 100%;
	color: inherit;
	background-color: transparent;
	padding: 0;
}

time {
	font-size: 1rem;
	color: darkgray;
}
