@font-face {
	font-family: "Takota";
	src: url("../assets/Takota.otf") format("opentype");
	font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

h1 {
	font-family: "takota";
	font-size: 4.5rem;
	line-height: 1.02em;
	color: #333;
}

h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 1rem;
	line-height: 1.25;
	color: #333;
	font-weight: 600;
	font-variation-settings: "wght" 550;
	letter-spacing: -0.04em;
}

h2 {
	margin-top: 2rem;
	font-size: 1.5rem;
}

h3 {
	margin-top: 1.5rem;
	font-size: 1.25rem;
}

blockquote {
	border: 1px solid lightgray;
	border-left: 4px solid lightgray;
	margin: 3em 0;
	padding: 1em 2em;
	line-height: 1.6em;
}

p,
ul,
ol {
	color: #222;
}

ul,
ol {
	margin-top: 10px;
	padding-left: 20px;
}

ul li,
ol li {
	word-wrap: break-word;
	margin-bottom: 16px;
}

ul img,
ol img {
	margin: 40px 0;
	border-radius: 5px;
}

sup {
	vertical-align: top;
	position: relative;
	top: -0.5em;
	margin-left: 1px;
}

code,
pre,
.code,
.footnotes {
	font-family: Consolas, monaco, monospace;
}

code {
	color: #f14e32;
	background: #eee;
	padding: 2px 6px;
	font-size: 13px;
}

pre {
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 0.8rem;
	line-height: 1.4;
	white-space: pre;
	overflow-x: auto;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	padding: 1rem;
}

pre code {
	font-size: 100%;
	color: inherit;
	background-color: transparent;
	padding: 0;
}

table {
	width: 100%;
	table-layout: fixed;
	margin: 45px 0;
}

table thead {
	background: #f2f2f2;
}

table th {
	text-align: left;
	padding: 8px 10px;
	border-bottom: 15px solid #fff;
}

table td {
	padding: 4px 0;
}

time {
	font-size: 1rem;
	color: darkgray;
}
