// All tokens

$system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
	Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$system-fonts-mono: ui-monospace, Menlo, Monaco, "Segoe UI Mono", "Roboto Mono",
	"Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono",
	"Droid Sans Mono", "Courier New", monospace;

@import "_resets";
@import "_typography";
@import "_notion";

.hero-wrapper {
	position: relative;
	margin: 0 auto;
	width: max-content;
	cursor: none;
}

#profile {
	object-fit: cover;
	height: 80px;
	width: 80px;
	overflow: hidden;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	transform: scale(0);
	opacity: 0;
	transition: opacity 0.2s ease;
	user-select: none;
}

#canvas1 {
	margin: 0 auto;
	filter: saturate(0) brightness(0);
	transition: filter 0.4s ease;
	// background: yellow;
}

#canvas1:hover {
	filter: saturate(100%) brightness(100%);
}

#canvas1:hover + #profile {
	opacity: 1;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dashed currentColor;
	transition: color 0.2s ease, border-color 0.2s ease;
}

a:hover {
	color: darkviolet;
}

a.image {
	display: block;
	text-align: center;
	border: 0;
	border-radius: 5px;
	margin: 30px 0;
}

iframe {
	margin: 45px 0 !important;
	width: 100%;
}

.article-wrapper {
	max-width: 52rem;
	display: grid;
	grid-template-columns: 1fr min(44rem, 100%) 1fr;
	padding: 10rem 2rem 2rem;
	margin: 0 auto;
}

.article-wrapper > * {
	grid-column: 2;
}

.article-title {
	font-size: 4.5rem;
	line-height: 1.02em;
	max-width: 18ch;
	margin-bottom: 0;
}

.article-back {
	position: fixed;
	top: 2.8rem;
	left: 3.2rem;
	border: none;
	letter-spacing: -0.04em;
	font-size: 1.25rem;
}

.article-header {
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 4rem;
}

.article-date {
	font-size: 1.2rem;
	line-height: 1.8em;
	letter-spacing: -0.04em;
	color: #c47af2;
	margin-bottom: 1.4rem;
}

article hr {
	border: 0;
	border-bottom: 1px solid lightgray;
	margin: 30px 0;
}

article p {
	margin-bottom: 2em;
}

article p,
article li {
	font-size: 1.2rem;
	letter-spacing: -0.02em;
	line-height: 1.8em;
	word-wrap: break-word;
	color: #222;
}

.footer {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	font-size: 0.8rem;
	letter-spacing: -0.1px;
	position: absolute;
	bottom: 20px;
	left: 0;
	overflow-x: hidden;
	color: lightslategrey;
}

.blog-container {
	max-width: 640px;
	margin: 0 auto;
	padding: 0 2rem 5.25rem;
}

header.blog-container {
	padding-top: 8rem;
	position: relative;
}

.blog-avatar-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 10.8rem;
	right: -6rem;
	height: 240px;
	width: 240px;
}

.blog-decal {
	position: absolute;
	top: 8rem;
	left: -16rem;
	z-index: -1;

	svg {
		opacity: 0.5;
	}
}

.blog-avatar-wrapper svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.blog-avatar-wrapper img {
	border-radius: 50%;
	overflow: hidden;
	width: calc(100% - 20px);
	height: auto;
}

header.blog-container h1 {
	font-size: 4.5rem;
	line-height: 1.02em;
	max-width: 18ch;
	margin-bottom: 0;
}

header.blog-container h2 {
	font-size: 1rem;
	line-height: 1.8em;
	max-width: 40ch;
	font-weight: 400;
	margin-top: 1em;
}

header.blog-container h2 > a {
	border: none;
	font-weight: 600;
	font-variation-settings: "wght" 560;
}

.blog-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 3rem;
}

.blog-item {
	margin-bottom: 1.4rem;
	display: grid;
	align-items: center;
	grid-template-columns: 3.6rem auto;
	column-gap: 1.4rem;
	row-gap: 0.4rem;
}

.blog-item-title {
	font-size: 1.28rem;
	letter-spacing: -0.04em;
	line-height: 1.4em;
	width: max-content;
	color: #222;
}

.blog-item-date {
	font-size: 0.84em;
	color: #444444;
	width: 8ch;
}

@media (max-width: 600px) {
	.blog-item-title {
		border: none;
	}
}

.home-content {
	max-width: 640px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: rotate(-2deg);
	min-height: 90vh;
}

.home-content p {
	max-width: calc(420px + 4rem);
	padding: 0 2rem;
	text-align: center;
	margin: 0 auto;
	line-height: 1.8;
	margin-bottom: 1.8em;
}

.blog-item-title {
	width: max-content;
	color: #222;
	position: relative;
	white-space: nowrap;
	cursor: pointer;
	border: none;
}

.blog-item-title:hover {
	border: none;
}

.blog-item-svg {
	position: absolute;
	top: 90%;
	left: 0;
	width: 100%;
	pointer-events: none;
	fill: none;
	stroke: currentColor;
	stroke-width: 1px;

	& path {
		stroke-dasharray: 1;
		stroke-dashoffset: 1;
		transition: stroke-dashoffset 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	}

	.blog-item-title:hover & path {
		stroke-dashoffset: 0;
		transition-timing-function: cubic-bezier(0.8, 1, 0.7, 1);
		transition-duration: 0.3s;
	}
}
