@import "_resets";
@import "_typography";

#canvas1 {
	margin: 0 auto;
	// background: yellow;
}

.hero-wrapper {
	position: relative;
	margin: 0 auto;
	width: max-content;
	cursor: none;
}

#profile {
	object-fit: cover;
	height: 80px;
	width: 80px;
	overflow: hidden;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	transform: scale(0);
	opacity: 0;
	transition: opacity 0.2s ease;
	user-select: none;
}

.hero-wrapper:hover > #profile {
	opacity: 1;
}

.article-back {
	position: fixed;
	top: 2rem;
	left: 2rem;
}

.article-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
}

img {
	max-width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dashed #555;
	transition: color 0.2s ease, border-color 0.2s ease;
}

a.image {
	display: block;
	text-align: center;
	border: 0;
	border-radius: 5px;
	margin: 30px 0;
}

mark {
	background: #fffc76;
	padding: 0 5px;
}

iframe {
	margin: 45px 0 !important;
	width: 100%;
}

article {
	max-width: 100%;
	margin: 0 auto;
}

.article-title {
	padding-top: 2em;
	line-height: 1.4em;
	text-align: center;
	font-size: 1.6em;
}

article hr {
	border: 0;
	border-bottom: 1px solid lightgray;
	margin: 30px 0;
}

article p {
	margin-bottom: 2em;
}

article p,
article li {
	line-height: 1.6em;
	word-wrap: break-word;
	color: #222;
}

a:hover {
	color: darkviolet;
	border-color: darkviolet;
}

.footer {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	font-size: 0.8rem;
	letter-spacing: 0.1px;
	position: absolute;
	bottom: 20px;
	left: 0;
	overflow-x: hidden;
	color: lightslategrey;
}

.post-list {
	list-style: none;
	margin: 0;
	padding: 0;
	max-width: 580px;
	margin: 0 auto 50px auto;
}

.post-list-item {
	margin: 1.2rem 0;
}

.post-list-item-title {
	max-width: 100%;
	word-wrap: normal !important;
	text-decoration: none;
	border: 0;
	color: #222;
	box-sizing: border-box;
	border-bottom: 1px dashed lightgray;
}

.post-list-item-title:hover {
	border-bottom: 1px solid black;
}

.post-list-item-date {
	float: right;
	font-size: 0.8rem;
	color: darkgray;
	letter-spacing: 0.4px;
}

.article-wrapper {
	max-width: 640px;
	padding: 2rem 4rem;
}

.home-content {
	max-width: 640px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: rotate(-2deg);
	min-height: 90vh;
}

.home-content p {
	max-width: 420px;
	text-align: center;
	margin: 0 auto;
	line-height: 1.8;
	margin-bottom: 1.8em;
}
