/* All Tokens */

@import "_base";
@import "_typography";
@import "_prism";
@import "_note";
@import "_blog";

.footer {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	font-size: 0.8rem;
	position: absolute;
	bottom: 20px;
	left: 0;
	overflow-x: hidden;
	color: lightslategrey;
}
